@{
    ViewData["Title"] = "Enter Your Details";
}

@using (Html.BeginForm("CustomerDetails", "ErrorForm", FormMethod.Post, new { onsubmit = "return validateDetails()" }))
{
    <html>
    <body>
        <div>
            <div class="faultprogress">
                6/6
            </div>
            <div class="lineHeading">
                Fill In Your Contact Details
            </div>
            <div class="input-group">
                <div class="contactNameInput">
                    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contact Name<strong style="color:red;">*</strong><br />@Html.TextBox("contactname", "", new {id="contactName", required="required", @class="form-control"})</label>
                </div>
                <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contact Number<br /> @Html.TextBox("contactnumber", "", new{id="contactNumber",@class="form-control", @placeholder = "07XXX XXXXXX"})</label>
            </div>
            <div class="alignMobileText" style="color:red;">
                @ViewBag.ContactNumber
            </div>
            <small class="form-text text-muted alignMobileText">Adding a contact number can take up to 2 hours to take effect</small>
            <div class="alignTitleForHours diagnosticsHeading">
                Business Contact Hours
            </div>

            <div class="input-group">

                <div class="hoursFromInput">
                    <label>From<strong style="color:red;">*</strong> @Html.Editor("contacthoursfrom", new { htmlAttributes = new{ type = "time" , min = "09:00:00", max = "17:00:00"}, @class="form-control"})</label>
                </div>

                <label>To<strong style="color:red;">*</strong> &nbsp;&nbsp;&nbsp;&nbsp; @Html.Editor("contacthoursto", new { htmlAttributes = new{ type = "time" , min = "09:00:00", max = "17:00:00"}, @class="form-control"})</label>
                <p style="color:red;">
                    @ViewBag.ContactHours
                </p>
            </div>
            <div class="customerDetailsLabel">
                Do you wish to proceed with reporting this fault?
            </div>
            <div class="buttonAlign">
                <button type="submit" name="Cancel" class="btn btn-secondary" value="No" onclick="location.href='@Url.Action("Index","LandingPage")';return false;''">No</button>
                <input type="submit" name="Next" class="btn btn-info" value="Yes">
            </div>

        </div>
    </body>
    </html>

}

<script type="text/javascript">

</script>