@model XLN_Fault_Report_System.Models.Asset
@{
    ViewData["Title"] = "Your Numbers";
    User user = TempData["User"] as User;
    List<Asset> assets = TempData["UsersAssets"] as List<Asset>;
    int reportButtonAvailable = 0;
}
<html>
<head>
    <link rel="stylesheet" href="~/css/NumbersPage.css" />
    <link rel=”stylesheet” href=”https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css”rel =”nofollow” integrity=”sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm” crossorigin=”anonymous”>
</head>
<body>
    <h1 class="lineHeadingNumbersPage">Select The Affected Line</h1>
    <div class="numbersContainer">
        @foreach (Asset a in assets)
        {
            <p>
                <form asp-controller="LandingPage" asp-action="NumbersPage" method="post">
                    <div class="numberBox">
                        <div class="phoneNumber">
                            @a.Number <input type="hidden" asp-for="AssetId" value="@a.AssetId" />
                        </div>
                        @if (a.Faults != null)
                        {
                            @for (int i = 0; i < a.Faults.Count; i++)
                            {
                                @if (a.Faults[i].Status == "Fault in progress")
                                {
                                    reportButtonAvailable += 1;
                                }
                            }
                        }
                        @if (reportButtonAvailable == 0)
                        {
                            <button id="reportButton" type="submit" class="btn btn-info" style="color:white;">Report Fault</button>
                        }
                        else
                        {
                            <button id="reportButton" disabled type="submit" class="btn btn-secondary" style="color:white;">Fault In Progress</button>
                            reportButtonAvailable = 0;
                        }
                    </div>
                </form>
                <div class="historyBox">
                    Fault History for this Line
                    @if (a.Faults != null)
                    {
                        @for (int i = 0; i < a.Faults.Count / 2; i++)
                        {
                            <div>
                                [@a.Faults[i].FaultId] Date Submitted: @a.Faults[i].Time Status: @a.Faults[i].Status @if (a.Faults[i].Status == "Fault report pending")
                                {
                                    @Html.ActionLink("Cancel", "CancelFault", "LandingPage", new {fault = a.Faults[i].FaultId})
                                }
                            </div>
                        }
                    }
                </div>
            </p>
        }
    </div>
</body>
</html>